<app-navigation></app-navigation>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 my-5">
      <h3>Login</h3>
      <form class="col-4" (ngSubmit)="login()" #loginForm="ngForm">
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="auth.email"
            #email="ngModel"
            required
          />
          <small class="form-text text-danger">This is a required field.</small>
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="auth.password"
            #password="ngModel"
            required
          />
          <small class="form-text text-danger">This is a required field.</small>
        </div>
        <p class="my-2">
          Not having an account? Click <a routerLink="/register">here</a>
        </p>
        <button type="submit" class="w-100 btn btn-primary" [disabled]="loginForm.invalid">Login</button>
      </form>
    </div>
  </div>
</div>